{% extends 'core/base.html' %}

{% block title %}
  Register | MyClassRoom
{% endblock %}

{% block style %}
  <style>
    input {
      padding: 6px 8px;
      outline: none;
      border: 2px solid green;
      border-radius: 5px;
      display: block;
      font-size: 16px;
      width: 250px;
      margin-top: 5px;
    }
    select {
      padding: 6px 8px;
      outline: none;
      border: 2px solid green;
      border-radius: 5px;
      display: block;
      font-size: 16px;
      width: 270px;
      margin-top: 5px;
    }
    .form-control {
      margin: 10px 0px;
    }
    .btn-register {
      width: 270px;
      padding: 6px 8px !important;
      outline: none;
      border: 2px solid green !important;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 5px;
    }
    .reg-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px;
      padding-top: 20px;
    }
    .reg-form {
      display: flex;
      border: 2px solid green;
      padding: 10px 20px;
      border-radius: 5px;
      gap: 20px;
      flex-wrap: wrap;
    }
    .reg-error{
        color: red;
        font-weight: bold;
        background-color: #e1f90082;
        padding: 2px 4px;
        margin-bottom: 5px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="reg-div">
    <h1 style="margin-bottom: 10px;">Registration Now!</h1>
    <form action="" method="post" class="reg-form">
      {% csrf_token %}
      {% if form.error_dict %}
        <p class="error">Please correct the errors below.</p>
      {% endif %}

      <!-- Hidden Field (If we write someting wrong formate in input) -->
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}

      <div>
        {% comment %}username{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">UserName</label>
          {{ form.username }}
        </div>
        {% comment %}email{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Email</label>
          {{ form.email }}
        </div>
        {% comment %}password{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.password1.errors %}
            {% for error in form.password1.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Password</label>
          {{ form.password1 }}
        </div>
        {% comment %}confirm password{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.password2.errors %}
            {% for error in form.password2.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Confirm Password</label>
          {{ form.password2 }}
        </div>
        {% comment %}first_name{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">First Name</label>
          {{ form.first_name }}
        </div>
        {% comment %}last_name{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Last Name</label>
          {{ form.last_name }}
        </div>
      </div>
      <div>
        {% comment %}account_type{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.account_type.errors %}
            {% for error in form.account_type.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Account Type</label>
          {{ form.account_type }}
        </div>
        {% comment %}birth_date{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.birth_date.errors %}
            {% for error in form.birth_date.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Birth Date</label>
          {{ form.birth_date }}
        </div>
        {% comment %}gender{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.gender.errors %}
            {% for error in form.gender.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Gender</label>
          {{ form.gender }}
        </div>
        {% comment %}institute{% endcomment %}
        <div class="form-control">
          <!-- Field related errors -->
          {% if form.institute.errors %}
            {% for error in form.institute.errors %}
              <p class="reg-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <label for="">Institute</label>
          {{ form.institute }}
        </div>
        <p>
          Already have account? <a href="{% url 'login' %}" style="font-weight: bold;">Login Now</a>
        </p>
        <button class="btn btn-register" type="submit">Register</button>
      </div>
    </form>
  </div>
{% endblock %}
