{% extends 'core/base.html' %}

{% block title %}
  {{ user.username }} | Profile
{% endblock %}

{% block style %}
  <style>
    .index-main{
      padding-top: 1px;
    }
    .index-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    .index-div-inner {
      border: 2px solid green;
      border-radius: 5px;
      width: 350px;
      padding: 20px;
    }
    .index-div-inner:hover {
      background-color: springgreen;
    }
    .list {
      list-style: none;
      text-decoration: none;
      color: black;
    }
    .btn {
      border: 2px solid black;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="index-main">
    {% if user.is_authenticated %}
      <p style="text-align: center; margin: 20px 0; font-size: 20px;">All your classroom</p>
      {% if not data %}
        <p style="text-align: center; font-size: 25px; margin-top: 50px;">No classroom created</p>
      {% endif %}
      <div class="index-div">
        {% for d in data %}
          <div class="index-div-inner">
            <h3 style="margin-bottom: 10px;">{{ d.classroom_name }}</h3>
            <p>Subject: {{ d.subject }}</p>
            <p>Invitation Code: {{ d.invitation_code }}</p>
            <div style="margin-top: 15px;">
              <a style="margin-left: 0px!important;" class="list btn" href="{% url 'classRoomPage' d.id %}">Open</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Please login to see this.</p>
    {% endif %}
  </div>
{% endblock %}
